section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.7)
        /* 0.7 is alpha makes background color transparent in the range of 0-1, (applied only to background color */
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.6;

}